<section>
    <h1>Home page</h1>

    <div>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" id="docpicker" name="CSV_File" accept=".csv">
            <button type="submit">Upload</button>
        </form>
    </div>
</section>